# Specify the registry URL for your @j317 scope to use the public npm registry
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
@j317:registry=https://registry.npmjs.org/
always-auth=true
# Save exact versions for dependencies
save-exact=true
